.bd-toc {
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
}

.bd-toc {
  order: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  padding-top: 2.5rem;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  background: #7386d5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-right: -300px;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-right: -300px;
  }
  #sidebar.active {
    margin-right: 0;
  }
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

#meme-container {
  max-width: 500px;
}

.rtl {
  direction: rtl;
}

/* .top {
  top: -20px !important;
} */
.left {
  left: 0 !important;
}
#file-label {
  top: -12px;
}

.tagify__input {
  min-width: unset !important;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 10px;
  grid-gap: 0.5px 10px;
}

.image-list img {
  width: 280px;
  grid-row-end: span 2;
}

.comment-body {
  max-height: calc(100vh - 195px);
  overflow-y: auto;
}

.box-shadow-unset {
  box-shadow: unset;
}

.avatar {
  width: 50px;
}

.tags {
  border: 1px solid rgb(223, 225, 229);
  border-radius: 4px;
  background-color: #eceff1;
}
